<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1> Tools for Data Science Final Assignment </h1>

<i> This notebook covers the required exercises for final assignment </i>

Data Science Languages:
<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Julia</li>
    <li>Javascript</li>
</ul>

Data Science Libraries:
<ol>
    <li> Matplotlib </li>
    <li> GGplot2 </li>
    <li> PyTorch </li>
    <li> TensorFlow </li>
    <li> Keras </li>
    <li> NumPy </li>
    <li> SciPy </li>
    <li> tidyr</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>IBM Watson Studio</td>
    </tr>
    <tr>
        <td>Python</td>
    </tr>
    <tr>
        <td>R</td>
    </tr>
    <tr>
        <td>Scala</td>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Github</td>
    </tr>
    <tr>
        <td>Jupyter Notebooks and Jupyter Labs</td>
    </tr>
    <tr>
        <td>Microsoft PowerBI</td>
    </tr>
    <tr>
        <td>Tableau</td>
    </tr>
</table>

This cell introduces arithmetic expression examples. Arithmetic expressions involve the use of mathematical operations such as addition, subtraction and multiplication. Some examples include:
<ul>
    <li> 1 + 1 = 2 </li>
    <li> 3 x 4 = 12 </li>
    <li> (1+8) x 2 = 16 </li>
</ul>

In [2]:
print(2 + 8)
print(3 * 8)
print(4 + 3 * 11)

10
24
37

In [25]:
print("180 mins is equal to", 180/60, "hours")

180 mins is equal to 3.0 hours

<h6>Objectives</h6>
<ul>
    <li> Complete Markdown Cell Exercises</li>
    <li> Complete Code Cell Exercises</li>
    <li> Save and share notebook through Github</li>
</ul>

<b> Author:</b>
Ashutosh Sharma